<launch>
    <!-- Arguments -->
    <arg name="xacro_model" default="$(find fwb_description)/urdf/four_wheel_bot.xacro" 
        doc="XACRO file (full path with extension)" />
    <arg name="spawn_z" default="0.25" doc="Height of spawning" />
    <arg name="model_name" default="four_wheel_bot" doc="Name of the robot in Gazebo" />
    
    <!-- Parameters on parameter server -->
    <param name="robot_description" command="xacro $(arg xacro_model)" />

    <!-- Nodes to be launched -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model $(arg model_name) -z $(arg spawn_z)" />
</launch>