<launch>
    <!-- Parameter server -->
    <param name="robot_description" command="cat $(find intro_robot_description)/urdf/first_robot.urdf" />
    <param name="use_gui" value="true" />
    <!-- Nodes to be launched -->
    <!-- RViZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find intro_robot_description)/rviz/RobotViewer.rviz" required="true" />
    <!-- Robot State publisher and Joint state publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>