<launch>
    <!-- Arguments -->
    <arg name="robot_model" default="control_robot" doc="Name of the URDF robot model (no extensions) to be spawned" />
    <arg name="rviz_model" default="RobotViewer" doc="Name of the RViZ configuration file" />
    <arg name="internal" default="false" doc="Use the internal package (true) or joint_state_controller (false)" />
    <arg name="jc_exec" default="joint_state_publisher" doc="Executable name in the package (defualt joint_state_publisher). Argument 'internal' must be true" />
    <arg name="use_gui" default="true" doc="true if GUI to be loaded for controller and false if not" />
    <!-- Load model into parameter server -->
    <param name="robot_description" command="cat $(find intro_robot_description)/urdf/$(arg robot_model).urdf" />
    <param name="use_gui" value="$(arg use_gui)" />
    <!-- Nodes -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find intro_robot_description)/rviz/$(arg rviz_model).rviz" required="true" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- Controller node -->
    <group unless="$(arg internal)">
        <node name="joint_controller" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>
    <group if="$(arg internal)">
        <node name="joint_controller" pkg="intro_robot_description" type="$(arg jc_exec)" />
    </group>
</launch>